@import url('https://fonts.googleapis.com/css?family=Roboto:400,300,100');

:root {
    --ghibli-color: #00adef;
    --blue: #6296ba;
    --almost-white: #ebfcff;
}

* {
    box-sizing: border-box;
    margin: 0 auto;
    font-family: 'Roboto';
}

html {
    background: var(--ghibli-color);
}

h1 {
    color: var(--almost-white);
    font-weight: 400;
    line-height: 1.1;
    letter-spacing: 0.05em;
    margin: 0;
    padding: 0;
    text-align: center;
}

p {
    margin: 5px;
}

.hidden {
    display: none;
}

:focus {
    outline: none;
}

::placeholder {
    color: rgba(255, 255, 255, 0.7);
    opacity: 1;
}

.search {
    width: 50%;
    position: relative;
    display: flex;
    justify-content: center;
}

input[type='text'] {
    color: white;
    width: 100%;
    box-sizing: border-box;
    letter-spacing: 1px;
    background-color: transparent;
    font-size: 1.75em;
}

.effect-1,
.search-bar,
.effect-3 {
    border: 0;
    padding: 7px 0;
    border-bottom: 1px solid #ffffff;
}

.search-bar ~ .bottom-line {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #2299cc;
    transition: 0.4s;
}

.search-bar:focus ~ .bottom-line {
    width: 100%;
    transition: 0.4s;
    left: 0;
}

#title,
input {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#logoGhibli {
    fill: white;
}

.main {
    max-width: 1200px;
    margin: 0 auto;
}

#container {
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
}

.card {
    margin: 0.5rem;
    color: var(--almost-white);
    border: 1px solid rgba(235, 252, 255, 0.25);
    overflow: hidden;
    transition: all 0.2s linear;
}

.card--show {
    margin: 1rem auto;
    color: var(--almost-white);
    border: 3px solid rgba(235, 252, 255, 0.25);
    overflow: hidden;
    width: 60%;
}

#score,
#releaseDate {
    font-weight: bold;
    font-style: italic;
    display: inline;
}

#score {
    font-size: 1.75em;
    float: right;
    margin-right: 15px;
}

#releaseDate {
    float: left;
    bottom: 0;
    margin-top: 1em;
}

.card:hover {
    box-shadow: 2px 8px 45px rgba(0, 0, 0, 0.15);
    transform: translate3D(0, -2px, 0);
    cursor: pointer;
}

#go--back {
    cursor: pointer;
}

.card h1,
.card--show h1 {
    margin-bottom: 5px;
    background-color: rgba(255, 255, 255, 0.25);
}

@media screen and (min-width: 600px) {
    .card {
        flex: 1 1 calc(50% - 2rem);
    }
}

@media screen and (min-width: 900px) {
    .card {
        flex: 1 1 calc(33% - 2rem);
    }
}
